body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

/* allow big tables to be scrollable */
.table-wrapper {
  max-height: 50vh; /* 50% of viewport height */
  overflow-y: auto;
  position: relative;
}

table {
  width: 100%;
  height: 50%;
  border-collapse: collapse;
}

table thead th { 
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  background: #eee;
  z-index: 10;
}

th, td { 
  padding: 5px; 
}

thead, tfoot, tr:nth-child(even) { 
  background: #eee; 
}

/* shrink KaTeX equations on mobile */
@media (max-width: 768px) {
    .katex-display {
        font-size: 0.75em;
        overflow-x: auto;
        overflow-y: hidden;
    }
    
    .katex {
        font-size: 0.85em;
    }
    
    .small-equation-mobile .katex-display {
        font-size: 0.55em;
    }
}
